<div class="ec-top-bar">
    <div class="ec-top-bar-wrapper">
        <span class="ec-top-bar-label__welcome">Hi, 欢迎来到商城</span>
        <ul class="ec-top-bar-navi__login">
            <li>即刻登陆</li>
            <li>免费注册</li>
        </ul>
    </div>
</div>
