@charset "utf-8";
@import "base/_reset";
@import "base/_common";

.ec-top-bar{
    overflow: hidden;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.88);
    &-wrapper{
        @include w_h(70vw, 3vh);
        margin: 0 auto;
    }
    &-label__welcome{
        @include h_lh(100%, 3vh);
        height: 100%;
        float: left;
        padding: 0 10px;
        background-color: red;
    }
    &-navi__login{
        @include h_lh(100%, 3vh);
        float: right;
        display: flex;
        background-color: yellow;
        li{
            margin: 0 20px 0 0;
        }
    }
}
